html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
html,body, #root, .App{
    margin: 0;
    min-height: 100vh;
}

header{
    background-color: rgb(45, 112, 106);
    height: 15vh;
    width: 100%;
    position: fixed;
    color: rgb(255, 255, 255);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    margin-top: 15vh;
}

.App{
    display: flex;
    flex-direction: column;
}

h1,h2,h3{ 
    margin: 0;
}




/* ヘッダーコンポーネント*/
/* 共通部分 */

.header-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-name{
    font-size: 4vw;
    padding-left: 10px;
    font-family: serif;
}


.links{
    padding-bottom: 10px;
}

.link{
    color: white;
    margin-right: 10px;
    font-size: 2vw;
}

.discription{
    display: inline;
}
/* 未ログイン時のヘッダー */
.menus{
    height: 100%;
    display: flex;
    align-items: flex-end;
}
/* ログイン時のヘッダー */
.login-menus{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.userinfo{
    display: flex;
    align-items: center;
    margin: auto 0;
}
.username{
    font-size: 2vw;
    margin: 0;
}
.name{
    color: #ffed7d;;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    cursor: pointer;
    margin: 0 10px;
}

.material-symbols-outlined.md-40 {
    font-size: 40px;
}

/* フォーム部品デザイン */
textarea {
    display: inline-block;
    width: 50vw;
    height: 100px;
}

input{
    width: 30vw;
}

label{
    font-size: 1.5vw;
    display: block;
}
a{  
    color: rgb(45, 112, 106);
    text-decoration: none;
    display: inline-block;
}
button{
    cursor: pointer;
}
a:hover{
    color: coral;
}
li {
    list-style: none;
}

/* signin,signupコンポーネントデザイン */
/* .signin,.signup{
} */

.signin-content,.signup-content{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(248, 219, 155);
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

.signin-title,.signup-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3vw;
    flex: 2;
}

.signin-forms, .signup-forms {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.signin-link, .signup-link {
    flex: 1;
}

.signin-button, .signup-button {
    height: 30px;
    width: 90px;
    margin: 0 auto;
    background-color: #f5fffb;
    border-radius: 5px;
}

.signin-content input, .signup-content input {
    border-radius: 5px;
    border-color: #5ab4bd;
}

/* ユーザー名コンポーネントデザイン */

/* 書類一覧コンポーネントデザイン */
/* .books{

} */
/* .books-title{
    
} */
.reviews{
    word-break: break-word;
}
.review{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 1em;
    min-width: calc(100vw - 2em);
    background-color: #feecd8;
}
.review-title{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #ffd2a2;
}
.review-main{
    padding: 5px;
    align-content: space-around;
    /* max-height: 20vh;
    overflow-y: hidden; */
}

.content1{
    font-weight: bold;
}

.content2{
    font-size: 16px;
    font-weight: bold;
}

.review-footer{
    display: flex;
    justify-content: flex-end;
}
.review-footers{
    margin: 0 10px 10px 0;
}
.change-books{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;
}
.search-books{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh 0;
}
.search-books input {
    width: 110px;
}
.current-page{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .prev-books-button{
} */
.next-books-button{
    margin-left: 5vw;
}
/* 詳細コンポーネント */
/* .detail{
} */
.detail-content{
    min-height: 65vh;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 10vh 0;
}
.detail-header{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}
.detail-title{
    margin: auto 0 auto 5px;
}


.detail-main{
    flex: 6;
}

.detail-main p {
    height: 85%;
    align-items: center;
}

.detail-main button {
    flex: 1;
    border-bottom: 3px solid #5ab4bd;
    border-left: #fff;
    border-right: #fff;
    border-top: #fff;
}
.detail-main button:hover{
    opacity: 0.7;
    transition: opacity 0.4s;
}

.detail-main-button{
    display: flex;
    height: 10%;
}


.is-detail{
    height: 90%;
}

.is-review{
    height: 90%;
}

.detail-footer{
    flex: 2;
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
}

.author{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-links{
    margin-right: 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.detail a {
    color: rgb(45, 112, 106);
}
.detail p {
    margin: 0;
    padding: 4px 4px 0 4px;
    display: flex;
}
.detail h2{
    margin: 0;
    text-align: center;
}
.detail h3 {
    margin: 0;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail hr {
    margin: 0;
}

.selected{
    background-color: #5ab4bd;
    color: white;;
}
.not-selected{
    color: black;
    background-color: rgb(229 226 226);
}

/* ユーザー情報コンポーネント */
/* .profile{
    height: 85%;
    justify-content: center;
} */
.profile-title{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.profile-content{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffdfdf6e;
    width: 70%;
    min-height: 50vh;
}
.profile-content > input {
    width: 30vw;
}
.profile-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
}


.update-button{
    background-color: #5ab4bd;
    color: white;
}

/* newbookコンポーネント */

/* .newbook{
    height: 85%;
} */
.newbook-title{
    background-color: beige;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.newbook-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffdfdf6e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    min-height: 70vh;
    margin-top: 5vh;
    padding: 30px 0;
}

.newbook-buttons{
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5vh 0;
}

.newbook input, .newbook textarea {
    width: 50vw;
}

.post-book-button{
    background-color: #5ab4bd;
    color: #ffffff;
}


/* editコンポーネント */
/* .edit{} */
.edit-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffdfdf6e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    min-height: 70vh;
    margin-top: 5vh;
    padding: 30px 0;
}

.edit-forms input {
    width: 50vw;
}

.edit-title,
.edit-url,
.edit-book-content,
.edit-review{
    text-align: center;
}

.edit-buttons{
    margin: 5vh 0;
}
.repost-review-button{
    background-color: #5ab4bd;
}
.delete-review-button{
    margin-left: 5vw;
    background-color: #ff4040;
}
.prev-button{
    margin-left: 5vw;
}



/* サンプル */

.content-buttons{
    border-bottom: 3px solid #5ab4bd;
    color: white;
}
hr{ 
    margin: 0;
}

@media screen and (max-width: 480px){

    .header-container{
        display: flex;
        flex-direction: column;
    }

    .app-name{
        font-size: 20px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .login-menus, .menus{
        flex: 1;
        align-items: center;
    }

    .login-menus * {
        font-size: 3vw;
    }

    .material-symbols-outlined.md-40 {
        font-size: 20px;
    }

    .signin-content, .signup-content{
        height: 50vh;
        width: 70vw;
    }

    .signin input, .signup input {
        width: 50vw;
    }

    .detail-content, .profile-content, .edit-forms, .newbook-content {
        width: 90vw;
    }

    .profile-content input, .edit-forms input, .newbook-content input {
        width: 80vw;
    }

    .edit-forms textarea, .newbook-content textarea {
        width: 80vw;
    }

    .search-books label {
        font-size: 3vw;
    }

    .detail-footer{
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .detail-footer * {
        margin-bottom: 10px;
    }

    .footer-links{
        margin: 0;
    }
}